In [1]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt

# Data

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
print("Taille du train set est de {}".format(train.shape))
print("Taille du test set est de {}".format(test.shape))

Taille du train set est de (7613, 5)
Taille du test set est de (3263, 4)

In [5]:
train.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [9]:
#Analysis of word 
import nltk
import string
from nltk.stem import WordNetLemmatizer
import re

nltk.download('stopwords')#liste les mots inutiles ("the", "is"...)
nltk.download('punkt')#utilisé pour la tokenisation
nltk.download('words')#liste des mots en anglais 
nltk.download('wordnet')#utilisé pour la lemmatisation 
nltk.download("punkt_tab")
stopwords = nltk.corpus.stopwords.words('english')#liste des mots à ignorer
words = set(nltk.corpus.words.words())#ensemble des mots valides en anglais 
lemmatizer = WordNetLemmatizer()#outil pour réduire un mot à sa racine (ex: running-->run)

def preprocessSentence(sentence):
    sentence_w_punct = "".join([i.lower() for i in sentence if i not in string.punctuation])#supprimer la ponctuation

    sentence_w_num = ''.join(i for i in sentence_w_punct if not i.isdigit())#supprimer les chiffres

    tokenize_sentence = nltk.tokenize.word_tokenize(sentence_w_num)#tokenization

    words_w_stopwords = [i for i in tokenize_sentence if i not in stopwords] #supprimer les stopwords

    words_lemmatize = (lemmatizer.lemmatize(w) for w in words_w_stopwords)#reduction des mots à leur racine
    
    words_lemmatize = (re.sub(r"[^a-zA-Z0-9]","",w) for w in words_lemmatize)#suppression des caractères spéciaux restants en les remplaçant par un espace vide 

    sentence_clean = ' '.join(w for w in words_lemmatize if w.lower() in words or not w.isalpha())#supprime les mots qui sont pas dans le dictionnaire anglais ou qui n'ont pas tout leurs caractères qui sont que des lettres

    return sentence_clean.split()

[nltk_data] Downloading package stopwords to /home/coffi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/coffi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package words to /home/coffi/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package wordnet to /home/coffi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to /home/coffi/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

In [10]:
train['text'].apply(preprocessSentence)

0             [deed, reason, earthquake, may, forgive, u]
1                        [forest, fire, near, la, canada]
2       [resident, shelter, place, notified, officer, ...
3          [people, receive, wildfire, evacuation, order]
4       [got, sent, photo, ruby, smoke, wildfire, school]
                              ...
7608    [two, giant, crane, holding, bridge, collapse,...
7609    [control, wild, fire, even, northern, part, st...
7610                                            [volcano]
7611    [police, investigating, car, little, rider, se...
7612             [latest, home, northern, wildfire, news]
Name: text, Length: 7613, dtype: object

In [11]:
train['text']=train['text'].apply(preprocessSentence)

In [12]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,"[deed, reason, earthquake, may, forgive, u]",1
1,4,NaN,NaN,"[forest, fire, near, la, canada]",1
2,5,NaN,NaN,"[resident, shelter, place, notified, officer, ...",1
3,6,NaN,NaN,"[people, receive, wildfire, evacuation, order]",1
4,7,NaN,NaN,"[got, sent, photo, ruby, smoke, wildfire, school]",1